<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CsvHelper" version="2.16.3.0" targetFramework="net45" />
  <package id="Dapper" version="1.50.2" targetFramework="net45" />
  <package id="ExpectedObjects" version="1.2.3" targetFramework="net45" />
  <package id="FluentAssertions" version="4.15.0" targetFramework="net45" />
  <package id="NSubstitute" version="1.10.0.0" targetFramework="net45" />
</packages>